body {
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
}

header {
    padding: 10px;
    width: 100%;

}

nav {
    margin: 0px;
    display: flex;
    list-style: none;
    float: right;
    gap: 15px;

}

main {
    padding: 20px;
}

.name {
    font-size: 100px;
    margin: 0;
    color: #86e216;
}


a {
    text-decoration: none;
    font-size: large;
    color: #ffffff;
    margin: 20px;
}


.container {
    display: flex;
    padding: 0px;
    gap: 30px;
    margin-bottom: 20px;

}
.column1 {
    width: 50%;
    float: left;
    text-align: left;
    font-size: large;  
    line-height: 1.5 ;

}

.column1 h1 {
    line-height: 1;
}

.column2 {
    flex: 1;
    width: 50%;
    float: right;
    position: relative;
   
}

.column2 h1 {
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 220px;
    line-height: 1;
}

.column2 h2 {
    font-size: 80px;
    margin-top: -10px;
    color: #86e216;
    display: flex;
    height: fit-content;
    
}

.btn {
    background: #86e216;
    color: #000000;
    padding: 15px 30px;
    border-radius: 30px;
    position: absolute; bottom: 0;
}

.btn:hover {
    background: #1b3001;
}
