<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <button class="nav-toggle" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'portfolio' %}">Projects</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </nav>
        </header>
        <main>
            <h1>Blog</h1> 
       <p style="font-size: large;">Welcome to my blog, where I share insights, ideas, and stories on technology, innovation, and digital growth.</p>
       <div class="blog-post">
            {% for post in posts %}
                <div class="blog-posts">
                    <h2>{{ post.title }}</h2>
                    <p> {{ post.created_at|date:"F j,Y"}}</p>


                    {% if post.image %}
                        <img src="{{ post.image.url}}" alt="{{ post.title }}" style="width: 100%; max-width: 600px;">
                    {% endif %}   

                    {% if post.video %}
                        <video controls style="width: 100%; max-width: 600px;">
                            <source src="{{ post.video.url }}" type="video/mp4"> 
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}

                    <p>{{ post.content }}</p>
                </div>
                <hr>
            {% endfor %}
       </div>
        </main>
       
    </body>
</html>