<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <button class="nav-toggle" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'portfolio' %}">Projects</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </nav>
        </header>
        <main>
            <h1 style="font-size: 80px; margin: 0;">{{ category_name }}</h1>
            <p style="font-size: large;">Here are some of my projects under the "{{ category_name }}" </p>

            <div class="card-container2">
                {% for project in projects %}
                    <div class="card2">
                        <img src="{{ project.image.url }}" alt="Project Image">
                        <div class="overlay">
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            <div class="buttons">
                                {% if project.live_demo_url %}
                                    <a href="{{ project.live_demo_url }}" target="_blank" class="btn">Live Demo</a>
                                {% endif %}
                                {% if project.video_demo %}
                                    <a href="{% url 'video_demo' project.id %}" class="btn" target="_blank">Video Demo</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No projects available in this category yet.</p>
                {% endfor %}
            </div>
                   
        
        </main> 
        <script src="{% static 'script.js' %}" defer></script>
    </body>
</html>