<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <header>
            <button class="nav-toggle" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="nav-links" >
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'portfolio' %}">Projects</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </nav>
        </header>

        <main>
            <div class="container">
                <section class="contact1">
                    <h1>Email Me</h1>
            {% if success%}
                <P>Thank you for your message! I'll get back to you soon.</P>
            {% else %}
                <form method="POST" class="form">
                    {% csrf_token %}
                    <label for="name">Your Name</label>
                    <input type="text" name="name" required>
    
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
    
                    <label for="message">Message:</label>
                    <textarea name="message" required></textarea>
    
                    <button type="submit">Send</button>
                </form>
            {% endif %}
                </section>
    
                <section class="contact">
                    <p>  
                        Do you have a groundbreaking idea that you’ve been dreaming of turning into reality? Whether it’s a sleek, high-converting landing page to boost sales or a powerful system that could position you as the next big innovator, I’m here to help bring your vision to life.  
                    
                        Every great success starts with a single step. Whether you’re launching a new business, scaling an existing one, or building something entirely unique, the right execution is key. No idea is too big or too small—what matters is making it happen.  
                    
                        Let’s collaborate, refine your concept, and turn your vision into something truly impactful. Reach out today, and let’s make it a reality!   
                    </p>
                    
                    <h1>Get In Touch</h1>
                    <div class="socials" style="float: left;"> 
                        <a href="https://www.linkedin.com/in/moses-wambugu-a33a662b1" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/Polymathh" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.tiktok.com/@polymath.stem" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://wa.me/+254704141329" target="_blank"><i class="fab fa-whatsapp"></i></a>   
                        <a href="tel:+254704141329"><i class="fas fa-phone"></i></a>
                        <a href="mailto:wambuguworking@example.com"><i class="fas fa-envelope"></i></a>
                    </div>                    
                </section>
                
            </div>
        </main>
        
        <script src="{% static 'script.js' %}" defer></script>


    </body>
</html>
