<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Wambugu Moses</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    </head>
    <body>
        <header>
            <button class="nav-toggle" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <nav class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'portfolio' %}">Projects</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="column1">
                    <h1 class="name">I'm Wambugu <br class="name1">Moses</h1>
                    <p>
                        I am a full-stack developer. I specialize in building web and mobile applications from front to back, using Flutter, Firebase, Python, Django, Node.js, and MySQL. With expertise in UI/UX, backend development, and database management, I create seamless, scalable, and user-friendly digital experiences.
                        Passionate about AI Engineering and data-driven solutions, I blend technology and creativity to develop impactful products. Whether it's a dynamic web app, a feature-rich mobile platform, or a secure backend system, I bring ideas to life with innovation and efficiency.                    
                        Let’s build something extraordinary!
                    </p>
                </div>
                    
                <div class="column2">
                    <div>
                        <h1>I am...</h1>
                        <h2 class="typewriter"></h2><br>
                    </div>
                </div>
            </div>
            
            <div class="socials"> 
                <a href="https://www.linkedin.com/https:/in/moses-wambugu-a33a662b1" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Polymathh" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.tiktok.com/@polymath.stem" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://wa.me/+254704141329" target="_blank"><i class="fab fa-whatsapp"></i></a>           
            </div>
        </main>        
        <script src="{% static 'script.js' %}" defer></script>
    </body>
</html>